header{
    font-family: 'Courier New', Courier, monospace;
    background: #dad8d8;
    color:rgb(15, 109, 218);
    padding: 20px 0;
    width: 800px;
    margin: auto;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(255, 255, 255);
    color: #000000;
}
h1{
    font-family: Arial;
    color: #ffee00;
}
.urutan{
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    color: #000000;
}
.urutan2{
    font-family:'Montserrat', sans-serif;
    font-size: 15pt;
    color: #000000;
}
.urutan3{
    font-family:'Montserrat', sans-serif;
    font-size: 15pt;
    color: #000000;
   
}
.next{
    color: blue;
}
.container-2{
    max-width: 800px;
    margin: 25pt auto;
    display:flex;
    justify-content: space-between;
 
    
}
.element{
    width: 22%;
    padding: 5px;
    box-sizing: border-box;
    
    
}
.element.satu {
   background-color: #dad8d8; 
   border-style: groove;
}
.element.dua {
    background-color: #dad8d8; 
    border-style: groove;
}
.element.tiga {
    background-color: #dad8d8; 
    border-style: groove;
}
.element.empat {
    background-color: #dad8d8; 
    border-style: groove;

}


.content{
    margin-bottom: 30px;
    text-align: justify;
}
p{
    margin-bottom: 10px;
}
.container{

    width: 800px;
    margin: auto;
}

footer{
    text-align: center;
    background: #dad8d8;
    color: rgb(15, 109, 218);
    padding: 20px 0;
    width: 800px;
    margin: auto;
    font-size: 15px;
}
/*responsive*/
@media(min-width : 600px){
    .container-2{
        display:flex;
        justify-content: space-between;
      
    }
    .element{
        width: 22;
    }
}

