header{
    font-family: 'Courier New', Courier, monospace;
    background: #dad8d8;
    color:rgb(15, 109, 218);
    padding: 20px 0;
    width: 800px;
    margin: auto;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(255, 255, 255);
    color: #000000;
}
h1{
    font-family: Arial;
    color: #ffee00;
}
.urutan{
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    color: #000000;
}
.urutan2{
    font-family:'Montserrat', sans-serif;
    font-size: 15pt;
    color: #000000;
}
.urutan3{
    font-family:'Montserrat', sans-serif;
    font-size: 15pt;
    color: #000000;
   
}
section{
    margin-bottom: 20px;
    padding: 20px;
    font-size: 16px;
    background-color: #dad8d8;
    stroke-width: 0,5pt;
    border-style:ridge;

}

.content{
    margin-bottom: 30px;
    text-align: justify;
}
p{
    margin-bottom: 10px;
}
.container{
    width: 800px;
    margin: auto;
}

footer{
    text-align: center;
    background: #dad8d8;
    color: rgb(15, 109, 218);
    padding: 20px 0;
    width: 800px;
    margin: auto;
}

