body{
	background:#ffa1c5;
	color: white;
}
p {
    font-family: arial;
    line-height: 3.75em;
}
.pertama{
    color : #ffffff;
}

header {
  font-family: 'Playfair Display', serif;
    color: orange;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: #ffffff;
}
section{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background-color: #ffffff;  
}

    

